body
	{
		background-image: url("bk1.jpg");
		background-size: cover;
		background-repeat: no-repeat;
		background-attachment: fixed;
		font-family: 'Raleway', sans-serif;
	}
	img {
  width:  175px;
  height: auto;
}
	.panel
	{
		margin-top:50px; 
		border-radius:5px; 
		box-shadow: 1px 1px gray;
		width: 540px;
	}
	#left
	{
		width:150px; 
		margin-left:-16px; 
		margin-top:170px; 
		border-width:1px; 
		border-color:#bfbfbf;
		box-shadow: 0px 1px #e6e6e6;
	}
	#right
	{
		width:150px; 
		margin-left:374px;
		margin-top:-20px; 
		border-width:1px; 
		border-color:#bfbfbf;
		box-shadow: 0px 1px #e6e6e6;
	}
	h1
	{
		/*font-family:Century Gothic; */
		color:#a6a6a6;
		font-family: "Raleway","Palatino Linotype", "Book Antiqua", Palatino, serif;
	}
	h4
	{
		font-size:21px;
		font-family: "Poiret One","Courier New", Courier, monospace;
		color: #a6a6a6;
	}
	.btn
	{
		/*border-color:#b3b3b3; */
		border-color:#f9f9f9;
		border-radius:50px; 
		height:60px; 
		width:65px; 
		padding:5px; 
		margin:5px;
		background-color:#f9f9f9;
		box-shadow:1px 1px 1px #b3b3b3;
	}
	.fa
	{
		font-size:35px;
		color:#b3b3b3;
		margin-top:8px;
		transition:color .5s ease-out;
	}
	.fa:hover
	{
		border-color:#ff4d4d;
		color:#ff8080;
	}